body{
    font-family: 'Poppins', sans-serif;
    padding: 2%;
}

.intro-section{
    display: flex;
    margin-bottom: 60px;
}

.tomato-color{
    color: tomato;
}
.white-color{
    color: white;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 16px;
    font-weight: 0;
}

.half-width{
    width: 50%;
}

#scnd-image img{
    width: 58.2%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orangered) ;
    padding: 10px 20px;
    color: white;
    border-radius: 20vh;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.terminal-img{
    width: 99%;
    height: 50%;
    border-radius: 4vh;
}
.experience-item{
    width: 33%; 
    height: 500px ;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 1px 20px rgba(231, 227, 227, 0.945);
    padding: 15px;
    border-radius: 5vh;
    box-sizing: border-box;
}
#left-align {
    
    text-align:left;
    padding: 8%;   
    }
#center-align {  
    text-align:center;
    padding: 8%;
    }
#right-align {  
    text-align:right;
    padding: 8%;
    }
footer p{
    text-align: center;
    }
footer h2{ 
    text-align: center;
}
footer, 
footer * { 
	background-color: black;
}
#my-recepie-align{
    text-align: center;
}
#followers{ 
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 8px 8px 15px grey;
    border-radius: 5vh;
}